/*----CALENDAR CONTAINER STYLES----*/

/*----calendar container grid----*/
.calendar-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 75vh;
    width: 85vw;
    background-color: rgb(9, 138, 116);
    margin: 2rem auto auto;
    animation-duration: 3s;
    animation-name: ease-in-out;
}

@keyframes ease-in-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*----styles for the aside that shows history of events----*/
.history-events-container_aside {
    grid-column: 1/2;
    grid-row: 1/7;
    display: flex;
    flex-direction: column;
    /*Consider putting these
    when adding more paragraphs and events*/
    /* overflow-x: auto;
    overflow-y: auto; */
    background-color: rgb(2, 68, 57);
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    margin-right: 10px;
    width: 170px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.history-events-title_h4 {
    width: 100%;
    height: 15%;
    text-align: center;
}

.history-events-content_p {}

/*----styles for the aside that shows days of the week----*/
.days-of-week-container_aside {
    grid-column: 2/9;
    grid-row: 1/2;
    background-color: rgb(2, 68, 57);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.day-of-week_h4 {
    text-align: center;
    border-right: 1px solid #000000;
}

.day-of-week_h4:last-child {
    border-right: none;
}

/*----styles for the div that contains the entry of each day----*/
.days-month-container_section {
    grid-column: 2/9;
    grid-row: 2/7;
    background-color: rgb(9, 138, 116);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 10px;
    gap: 15px;
    margin-top: 10px;
}

.entry-day-calendar_div {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    -webkit-box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 10px 17px 0px rgba(0, 0, 0, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.entry-day-calendar_div:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    cursor: pointer;
}

.entry-day-info-number_p {
    padding-left: 4px;
    padding-top: 2px;
    color: rgb(2, 68, 57);
    width: 50%;
}

.entry-day-info-add_span {
    text-align: right;
    padding-right: 4px;
    padding-top: 2px;
    color: black;
    width: 50%;
}

.entry-day-info_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}