.header {
    background-color: rgb(9, 138, 116);
    width: 100vw;
    height: 5vh;
    color: white;

}

.main {
    height: 95vh;
    background-color: rgb(9, 138, 116);
    color: white;
}

.topbar-container {
    height: 10vh;
    background-color: rgb(2, 68, 57);

}

.topbar-next-year,
.topbar-previous-year {
    width: 5vw;
}

.topbar-next-year:hover,
.topbar-previous-year:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.months-container {
    width: 90vw;
    overflow: scroll;
    box-sizing: border-box;
}

.topbar-month {
    display: flex;
    padding: 0 0;
    background-color: transparent;
    height: 100%;
}

.input-topbar-months {
    opacity: 0;
    width: 0;
    height: 0;
}

.label-topbar-months {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5vw;
    height: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.label-topbar-months:hover {
    cursor: pointer;
    background-color: rgb(1, 39, 33);
}

.input-topbar-months:checked+label {
    background-color: aquamarine;
}

.topbar-month {
    width: 7.5vw;
    display: flex;
}

.topbar-next-year:hover,
.topbar-previous-year:hover {
    cursor: pointer;
    background-color: rgb(1, 39, 33);
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 75vh;
    width: 85vw;
    background-color: rgb(9, 138, 116);
    margin: 2rem auto auto;
    /*top-horizontal-bottom*/
}

.events-history-container {
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: rgb(2, 68, 57);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;

}

.days-of-week {
    grid-column: 2/9;
    grid-row: 1/2;
    background-color: rgb(2, 68, 57);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}

.day-of-week {
    text-align: center;
    border: 1px solid black;
}

.days-month-container {
    grid-column: 2/9;
    grid-row: 2/7;
    background-color: rgb(9, 138, 116);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    gap: 5px;
    box-shadow: 2px 2px 1px rgb(2, 68, 57);
    border-radius: 15px;
    border: 1px solid black;

}

.entry-day-calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.day-number-calendar {
    padding-left: 4px;
    padding-top: 2px;
    color: rgb(2, 68, 57);
}

.style-modal {
    height: 70vh;
}

.add-event-calendar {
    padding-right: 4px;
    padding-top: 2px;
}

.add-event-calendar {
    padding-right: 4px;
    padding-top: 2px;
}

/* Button styles to collapse history section*/

.style-events-show {
    display: none;
    width: 37px;
    height: 37px;
    margin-right: 2.5vw;
    border: 2.5px solid white;
    border-radius: 7px;
    background-color: transparent;
}

.container-span-show-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span-show-button {
    width: 80%;
    height: 3px;
    margin: 2px;
    background-color: white;
}





.close-btn-modal {
    width: 100px;
}

.btnClose {
    width: 45%;
    background-color: steelblue;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btnClose:hover {
    cursor: pointer;
    background-color: black;
    color: steelblue
}

.btn-save {
    width: 45%;
    background-color: rgb(111, 151, 71);
    border: none;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-save:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(111, 151, 71);
}


.size-modal {
    height: 70vh;
}

.border-style {
    border-radius: 15px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #414344
}

.modal-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 2.3rem;
    color: #274355;
    letter-spacing: 1px;
}

.modal-sections {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.modal-label {
    margin-bottom: 4px;
}

.modal-body {
    color: black;
}

.modal-label:nth-of-type(2) {
    margin-top: 12px;
}

.modal-input::placeholder {
    color: gray;
}

.modal-input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.modal-input-checkbox {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 15px;
    border: 1px solid;
    border-radius: 15px;
    appearance: none;
}

.modal-input-checkbox:checked {
    background-color: #274355;
}

.new-event-button {
    background-color: rgb(2, 68, 57);
}

.new-event-button :hover {
    background-color: rgb(1, 39, 33);
}



@media only screen and (max-width: 1220px) {
    .label-topbar-months {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 1000px) {
    .label-topbar-months {
        width: 80px;
    }
}

@media only screen and (max-width: 750px) {

    .topbar-next-year,
    .topbar-previous-year {
        width: 10vw;
    }

    .months-container {
        width: 80vw;
    }

    .days-of-week {
        display: none;
    }

    .style-events-show {
        display: inline-block;
    }

    .events-history-container {
        z-index: 1;
        grid-column: 1/9;
    }

    .days-month-container {
        grid-column: 1/9;
        grid-row: 1/7;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 75vh;
        overflow: scroll;
        gap: 10px;
        padding: 10px 12px;
    }

    .entry-day-calendar {
        height: 150px;
    }

    
}